.ayuda__container{
    display: flex;
    flex-direction: column;

}
.ayuda__below {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;

}
.ayuda__below h3{
    font-size: var(--font-size-md);
    color: var(--color-secondary);
    margin: 15px;

}
.ayuda__below h4{
    font-size: var(--font-size-md);
    color: var(--color-text);
    margin: 15px;
    cursor: pointer;
    
}
.ayuda__below img{
    height: 50px;
    cursor: pointer;
}