<div class="ayuda__container">
    <div class="ayuda__top">
        <h1>¿Necesitas ayuda?</h1>
        <h2>Estamos para ayudarte en <a href="">help&#64;headspace.com</a></h2>
    </div>
    <div class="ayuda__below">
        <div class="ayuda-below__left">
            <h3>MEDITAR CON HEADSPACE</h3>
            <h4>SUSCRIBIRSE</h4>
            <h4>CANJEAR UN CÓDIGO</h4>
            <h4>PLAN ESTUDIANTE</h4>
            <h4>ENVIAR UN REGALO</h4>
            <h4>MEDITACIÓN GUIADA</h4>
            <h4>MEDITACIÓN PARA EL TRABAJO</h4>
            <h4>MEDITACIÓN PARA NIÑOS</h4>
            <h4>MEDITACIÓN PARA DORMIR</h4>
            <h4>MEDITACIÓN PARA CONCENTRARSE</h4>
            <h4>MEDITACIÓN PARA EL ESTRÉS</h4>
            <h4>MEDITACIÓN PARA LA ANSIEDAD</h4>
        </div>
        <div class="ayuda-below__left">
            <h3>QUIÉNES SOMOS</h3>
            <h4>ACERCA DE HEADSPACE</h4>
            <h4>ACERCA DE ANDY PUDDICOMBE</h4>
            <h4>LOS LIBROS DE ANDY
                PRENSA Y MEDIOS</h4>
            <h4>EMPLEOS</h4>
            <h4>MAPA DEL SITIO</h4>
        </div>
        <div class="ayuda-below__left">
            <h3>SOPORTE</h3>
            <h4>CENTRO DE AYUDA</h4>
            <h4>CONTÁCTANOS</h4>
            <h3>ASOCIACIONES</h3>
            <h4>SOCIOS DE INVESTIGACIÓN</h4>
            <h4>SOCIOS DE MARCA</h4>
            <h4>FILANTROPÍA</h4>
        </div>
        <div class="ayuda-below__left">
            <h3>DESCARGA LA APP</h3>
            <img src="assets/app-store.svg" alt=""><br>
            <img src="assets/google-play.png" alt="">

        </div>
    </div>
</div>