<div class="footer-Container">
    <div class="footer-Container__icons">
        <a href="#" class="icon"><i class="bi bi-instagram"></i></a>
        <a href="#" class="icon"><i class="bi bi-twitter"></i></a>
        <a href="#" class="icon"><i class="bi bi-facebook"></i></a>
        <a href="#" class="icon"><i class="bi bi-youtube"></i></a>
        <a href="#" class="icon"><i class="bi bi-linkedin"></i></a>
    </div>

    <div class="footer-Container__text">
        <span>© 2025 HEADSPACE INC.</span>
        <a>TÉRMINOS Y CONDICIONES</a>
        <a>POLÍTICA DE PRIVACIDAD</a>
        <a>POLÍTICA DE COOKIES</a>
        <a>REFERENCIAS DE COOKIES
            <img src="assets/privacyoptions.svg" alt="cookies" /></a>
        <a>AVISO CCPA DE CA</a>
        <div class="footer-Container__text-buttons">
            <button class="footer-Container__text-button">ESPAÑOL</button>
            <div class="footer-Container__text-button-content">
                <a href="#">Deutsch</a>
                <a href="#">English</a>
                <a href="#">Español</a>
                <a href="#">Français</a>
                <a href="#">Português</a>
            </div>
        </div>
    </div>
    <div class="footer-Container__buttons-reset">
        <button class="footer-Container__button-reset"><a href="#"><i class="bi bi-arrow-up"></i></a></button>
    </div>
</div>