<nav class="navbar">
    <!--Logo-->
    <div class="navbar-Logo">
        <a href="#">
            <img src="assets/logo.svg" alt="logo">
        </a>
    </div>
    <!--Nabvar links-->
    <div class="navbar-Links">
        <a href="#">La ciencia</a>
        <a href="#">Corporativo</a>
        <a href="#">Cómo meditar</a>
        <a href="#">Ayuda</a>
        <div class="barra"></div>
        <a class="inicioSesion" href="#"><b>Iniciar sesión</b></a>
        <div class="navbar-Buttons">
            <button [routerLink]="['/gratuita']" class="navbar-Button">Empieza tu prueba gratuita</button>
        </div>
    </div>
</nav>