<div class="footer-alt_container">
    <div class="footer-alt__left">
        <div class="footer-alt-left__left">
        <p>© 2025 Headspace Inc.</p>
        <p>POLÍTICA DE COOKIES</p>
        <p>Consumer Health Data</p>
        </div>
        <div class="footer-alt-left__center">
        <p>TÉRMINOS Y CONDICIONES</p>
        <p>Tus opciones de privacidad 
            <img src="assets/privacyoptions.svg" alt="cookies" width="20px" /></p>
        </div>
        <div class="footer-alt-left__right">
            <p>POLÍTICA DE PRIVACIDAD</p>
            <p>CA Privacy Notice</p>
        </div>
    </div>
    <div class="footer-alt__right">
    
    </div>
</div>
