<div class="body-c__container">
    <div class="body-c__left">
        <img src="assets/img1.svg" alt="">
        <h1>Alcanza tus metas</h1>
        <p>Cuida tu salud mental con cursos comprobados y la guía de expertos para ayudarte a cumplir tus objetivos.</p>
    </div>
    <div class="body-c__center">
        <img src="assets/img2.svg" alt="">
        <h1>Mejora tu día a día</h1>
        <p>Libérate del estrés y la ansiedad del día a día con más de 500 meditaciones guiadas y programas.</p>
    </div>
    <div class="body-c__right">
        <img src="assets/img3.svg" alt="">
        <h1>Duerme como siempre soñaste</h1>
        <p>Descansa profundamente cada noche con meditaciones para dormir, ejercicios y sonidos relajantes.</p>
    </div>
</div>