<div class="head-Container">
    <div class="head-Container__Logo">
        <img src="assets/logo.svg" alt="logo">
    </div>

    <div class="head-Container__content">
        <img class="head-Container__content__Img" src="assets/fondo-gratuita.svg" alt="fondo">
        <div class="head-Container__content-Text">
            <h1>Meditar nunca fue tan simple</h1>
            <p>Da el primer paso en tu camino hacia una vida más sana y más feliz. Aprende a meditar con Headspace.</p>
            <div class="head-Container__content-Text__Button">
                <a href="#">Suscribete ahora</a>
            </div>
        </div>
    </div>
</div>

<div class="body-Container">
    <div class="body-Container__Subs">
        <div class="body-Container__Subs-content">
            <p><i class="bi bi-check"></i>Biblioteca completa con cursos por temas</p>
            <p><i class="bi bi-check"></i>Una nueva meditación cada día</p>
            <p><i class="bi bi-check"></i>Sonidos y ejercicios para dormir</p>
        </div>
    </div>
    <div class="body-Container-Subs__box">
        <div class="body-Container-Subs__box-title">
        <span>14 días gratis</span>
        <h1>HEADSPACE</h1>
        <h2>0$</h2>
        <p>Primeros 14 días</p>
        </div>
        <div class="body-Container-Subs__box__butons">
            <button class="body-Container-Subs__box__Button1">
                <div class="body-Container-Subs__box__Button1-title">
                <span>AHORRA EL 60%</span>
                <p>Annual - primeros 14 días gratis</p>
                <p>69.99$ USD/año, eso equivale a $5.83 por mes</p>
                </div>
            </button>
            <button class="body-Container-Subs__box__Button2">
                <p>Mensual - primeros 7 días gratis</p>
                <p>12.99$ USD/mes</p>
            </button>
            <button class="body-Container-Subs__box__Button3">PRUEBALO GRATIS</button>
        </div>
    </div>
</div>