<div class="bodyd-Container">
    <div class="bodyd-Container_Header">
        <h1>Suma salud, felicidad y descanso a tu vida con 
        Headspace</h1>
    </div>
    <div class="bodyd-Container_Ballena">
        <img src="ballena.svg" alt="ballena">
        <div class="bodyd-Container_Ballena_Text">
            <h3>Menos estrés</h3>
            <p>Con solo unos minutos al día, Headspace te
            ayuda a construir un hábito de la meditación
            para reducir el estrés, aumentar la felicidad
            y lograr equilibrio mental en cualquier momento
            y lugar.</p>
        </div>
    </div>
        <div class="bodyd-Container_Luna">
        <img src="luna.svg" alt="luna">
        <div class="bodyd-Container_Luna_Text">
            <h3>Duerme plácidamente</h3>
            <p>Sumérgete en un sueño tranquilo. Explora
            “sleepcasts”, música relajante y guías
            de relajación diseñadas para ayudarte
            a dormir más rápido y despertar renovado.</p>
        </div>
    </div>
        <div class="bodyd-Container_Niga">
        <img src="niga.webp" alt="Niga">
        <div class="bodyd-Container_Niga_Text">
            <h3>Mejora tu concentración</h3>
            <p>Ya sea en el trabajo o en tu tiempo libre,
            Headspace ofrece música y técnicas que aumentan
            tu concentración, productividad y creatividad.</p>
        </div>
    </div>

    <div class="bodyd-Container__Buttons-descargas">
        <button class="bodyd-Container__Button__appst">
            <img src="apps.png" alt="Apstore">
        </button>
        <button class="bodyd-Container__Button__goo">
            <img src="goo.png" alt="Google">
        </button>
    </div>
    
    <button class="bodyd-Container__Button__prueba">PRUEBA HEADSPACE GRATIS</button>

</div>